.entry-content {
	/***
        On applique le conteneur a chaque element individuel, sauf pour les :not ci-dessous
        Par exemple pour les .lpg-blocks qui sont des blocs acf-gutenberg qui ont tous leur propre largeur
    ***/
	> *:not(.lpg-block):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.is-style-large):not(hr) {
		max-width: ($small-container-width + 2 * $mobile-padding);
		margin-right: auto;
		margin-left: auto;
		padding-right: $mobile-padding;
		padding-left: $mobile-padding;
	}

	> :first-child {
		margin-top: 0;
	}

	> .wp-block-button {
		margin-top: rem(40px);
		margin-bottom: rem(40px);
	}

	// Style des marges de titres
	> * + h2 {
		margin-top: rem(35px);
		margin-bottom: rem(20px);
	}

	> * + h3,
	> * + h4 {
		margin-top: rem(20px);
		margin-bottom: rem(10px);
	}

	> ul,
	> ol {
		position: relative;
		left: $mobile-padding;
	}

	.wp-block-columns,
	.wp-block-gallery {
		margin: rem(40px) auto;
	}
}

// FROM 2020

/* -------------------------------------------------------------------------- */

/*	11. Entry Content
/* -------------------------------------------------------------------------- */

.entry-content > *:last-child:not(.stats) {
	margin-bottom: 0;
}

// .entry-content a:hover,
// .entry-content a:focus {
// 	text-decoration: none;
// }

// .entry-content p,
// .entry-content li {
// line-height: 1.4;
// }

// .entry-content h1,
// .entry-content h2,
// .entry-content h3,
// .entry-content h4,
// .entry-content h5,
// .entry-content h6 {
// 	margin-top: 3.5rem;
// 	margin-bottom: 2rem;
// }

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
	margin-bottom: rem(10px);
}

/* Alignment Classes ------------------------- */

.alignnone,
.aligncenter,
.alignleft,
.alignright {
	max-width: 100%;
	margin: rem(30px) 0;
}

.aligncenter,
.aligncenter img {
	margin-right: auto;
	margin-left: auto;
}

.alignleft,
.alignright {
	max-width: 50%;
}

.alignleft {
	/* rtl:ignore */
	float: left;
	margin: rem(3px) rem(20px) rem(20px) 0;
}

.alignright {
	/* rtl:ignore */
	float: right;
	margin: rem(3px) 0 rem(20px) rem(20px);
}

// Equivalent au container--medium
.alignwide {
	max-width: $medium-container-width;
	margin: rem(40px) auto;
}

.entry-content > .alignwide {
	position: relative;
	left: calc(50% - 50vw + #{rem(20px)});
	width: calc(80vw - #{rem(40px)});
	max-width: calc(80vw - #{rem(40px)});

	@media (#{$break-max-md}) {
		position: static;
		width: 100%;
		max-width: 100%;
	}
}

.alignfull {
	max-width: 100%;
	margin: rem(50px) 0;
}

.entry-content > .alignfull {
	position: relative;
	left: calc(50% - 50vw);
	width: 100vw;
	max-width: 100vw;
}

/* Entry Media ------------------------------- */

.alignfull > figcaption,
.alignfull > .wp-caption-text {
	width: calc(100% - #{rem(40px)});
	max-width: rem(1200px);
	margin-right: auto;
	margin-left: auto;
}

/* Clearing ---------------------------------- */

.group::after,
.entry-content::after {
	display: block;
	clear: both;
	content: "";
}
