/* =WordPress Core
/* https://codex.wordpress.org/CSS
---------------------------------- */
.alignnone {
	margin: rem(5px) rem(20px) rem(20px) 0;
}

.align-center {
	text-align: center;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: rem(5px) auto rem(5px) auto;
}

.alignright {
	float: right;
	margin: rem(5px) 0 rem(20px) rem(20px);
}

.alignleft {
	float: left;
	margin: rem(5px) rem(20px) rem(20px) 0;
}

a img.alignright {
	float: right;
	margin: rem(5px) 0 rem(20px) rem(20px);
}

a img.alignnone {
	margin: rem(5px) rem(20px) rem(20px) 0;
}

a img.alignleft {
	float: left;
	margin: rem(5px) rem(20px) rem(20px) 0;
}

a img.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.wp-caption {
	max-width: 96%; /* Image does not overflow the content area */
	padding: rem(5px) rem(3px) rem(10px);
	border: 1px solid #f0f0f0;
	text-align: center;
	background: #fff;
}

.wp-caption.alignnone {
	margin: rem(5px) rem(20px) rem(20px) 0;
}

.wp-caption.alignleft {
	margin: rem(5px) rem(20px) rem(20px) 0;
}

.wp-caption.alignright {
	margin: rem(5px) 0 rem(20px) rem(20px);
}

.wp-caption img {
	width: auto;
	max-width: 98.5%;
	height: auto;
	margin: 0;
	padding: 0;
	border: 0 none;
}

.wp-caption p.wp-caption-text {
	margin: 0;
	padding: 0 rem(4px) rem(5px);
	font-size: rem(11px);
	line-height: rem(17px);
}
