@charset "UTF-8";
/*!
	@author Le Petit Garage
*/
/* ------------------- */
/* ==Table Of Content  */
/* ------------------- */
/*
  - Reset
  - variables
  - Utility
  - a11y - prefers-reduced-motion
  - a11y - skip-links
  - Colors
  - Buttons
  - Forms
  - Common
  - Structure
  - Typography
*/
/* Reset */
/* -------
	RESET
-------- */
/*
* based on
*	https://github.com/jgthms/minireset.css/blob/master/minireset.css
*	https://github.com/alsacreations/KNACSS/blob/master/sass/_vendor/_reboot.scss
*/
/* Set border-box box sizing so borders and padding don't affect set dimensions */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reset block margins so spacing is only applied when needed */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
fieldset,
legend,
textarea,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

/*
	Set html font size to match browser size
	Prevent adjustments of font size after orientation changes on some mobile devices
	Reset line height
*/
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

/* Reset font sizes so semantic markup doesn't affect styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers */
sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline; }

/* Remove bullets from unordered lists */
ul {
  list-style: none; }

/* Remove border from iframes */
iframe {
  border: 0; }

/* Set responsive media elements so images and embeds scale with browser width */
img,
embed,
object,
audio,
video {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: bottom; }

/* Remove default styling of buttons and inputs */
button,
input,
textarea,
select {
  width: auto;
  height: auto;
  resize: none;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  background-color: transparent;
  background-image: none; }

/* ====================
   speed up touch delay
   ==================== */
a,
button,
.button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation; }

/* Accessibility Settings */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important; } }

/*
	Options :
	- Reset tables
*/
/* Units */
/* -------
	CONVERT PX TO REM
-------- */
/*
 * based on
 *	https://css-tricks.com/snippets/sass/px-to-em-functions/
 */
/*
 * Examples (both examples give the same result) :

	h1 {
		font-size: rem(32);
	}

	h1 {
		font-size: rem(32px);
	}
 *
 */
/* Variables */
/* ====================
     transition variables
==================== */
/* border-radius */
/* ease-out */
/* ease-in */
/* ease-in-out */
/* ease */
/* Components */
/* =========
	Fonts
	Fichiers de fonts du site.
	- Utiliser que les formats .woff et .woff2
	- Ajouter la propriété font-display: swap;
========== */
@font-face {
  font-family: 'FranceTV Brown';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/subset-FranceTVBrown-Black.woff2") format("woff2"), url("../fonts/subset-FranceTVBrown-Black.woff") format("woff");
  font-display: swap; }

@font-face {
  font-family: 'FranceTV Brown';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/subset-FranceTVBrown-Regular.woff2") format("woff2"), url("../fonts/subset-FranceTVBrown-Regular.woff") format("woff");
  font-display: swap; }

/* ====================
   Typography
   ==================== */
/* font families */
/* base unitless line heights */
/* font sizes */
/* font weights */
/* letter spacing */
/* applied font weights */
/* list variables */
/* margins */
/* ====================
   global font settings
   ==================== */
html {
  /* font smoothing */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* base font family */
  font-family: "FranceTV Brown", "Arial", sans-serif;
  /* set base font-size to equiv "10px", which is adapted to rem unit */
  font-size: 62.5%;
  /* base line height */
  line-height: 1.4;
  /* base font weight */
  font-weight: 400;
  /* base letter spacing */
  letter-spacing: 0; }

body {
  font-size: 1.8rem; }

/* ====================
   headings
   ==================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 10px;
  line-height: 1.2;
  font-weight: 700; }

/* heading sizes and spacing */
h1,
.h1 {
  font-size: 4rem; }

h2,
.h2 {
  font-size: 3.6rem; }

h3,
.h3 {
  font-size: 2.4rem; }

h4,
.h4 {
  font-size: 2rem; }

h5,
.h5 {
  font-size: 1.8rem; }

h6,
.h6 {
  font-size: 1rem; }

/* ====================
   additional type styles
   ==================== */
/* small font size */
small {
  font-size: 1rem; }

/* additional font weights */
strong,
b {
  font-weight: 700; }

/* block spacing */
p,
dl,
ol,
ul,
blockquote,
figcaption {
  margin: 0 0 10px; }

/* link inside <p> */
p a {
  font-weight: 700; }

/* blockquote */
blockquote p::before {
  content: "\201c"; }

blockquote p::after {
  content: "\201d"; }

/* ====================
   list styles
   ==================== */
ol,
ul {
  margin-left: 2rem; }

/* unordered list bullets */
ul {
  list-style: disc; }

/* ====================
	color variables
	==================== */
/* semantic palette */
/* Site - colors : */
/* gray palette */
/* Utilisé sur les inputs */
/* Utilisé sur les inputs */
/* applied colors */
/* ====================
	link variables
	==================== */
/* ====================
   applied colors
   ==================== */
html {
  background-color: #fff; }

body {
  color: #fff;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #ffee52;
  transition: color 0.2s ease-out; }
  a:hover {
    text-decoration: none;
    color: #524a00; }
  a:focus {
    color: #524a00; }
  a:active {
    color: #524a00; }

/* ====================
     structural variables
     ==================== */
/* container variables */
/* Containers */
/* Media queries du site, l'unité rem rend le zoom accessible et proportionnel à la taille de la typo */
/* Responsive breakpoints */
/* ====================
   containers
   ==================== */
/* mixins */
/* wrapper div */
.container {
  width: 100%;
  max-width: 90.375rem;
  margin: 0 auto;
  padding: 0 2.5rem;
  /*
		On définit ici des nouveaux points pour le .container
		En prenant en compte le padding mobile
	*/
  /* Et on évite de l'appliquer à nouveau aux containers descendants */ }
  .container--large {
    max-width: 69rem; }
  .container--medium {
    max-width: 53rem; }
  .container--small {
    max-width: 38.75rem; }
  .container--paddingless {
    padding: 0; }
  .container .container {
    padding-right: 0;
    padding-left: 0; }

/* ====================
   horizontal rules
   ==================== */
hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  border: none;
  background-color: #ffee52; }

/* ====================
   media/embeds
   ==================== */
img,
audio,
video,
canvas,
iframe {
  display: block; }

svg {
  fill: currentColor; }

/* Forms */
/* ====================
     form variables
     ==================== */
/* labels */
/* text inputs */
/* static input colors */
/* hover input colors */
/* focus input colors */
/* disabled input colors */
/* textareas */
/* selects */
/* ====================
   general form styling
   ==================== */
fieldset {
  margin: 0.625rem 0;
  padding: 0;
  border: 0 solid transparent; }
  fieldset legend {
    margin-bottom: 0.625rem;
    font-weight: bold; }

label {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: bold; }

input,
select,
textarea {
  outline: 0; }

/* ====================
   general mixin
   ==================== */
/* ====================
   text inputs
   ==================== */
input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
select {
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 0;
  font-weight: 400;
  color: #fff;
  background-color: #e6e6e6;
  transition: border-color 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.9375rem; }
  input[type="text"]::placeholder,
  input[type="url"]::placeholder,
  input[type="email"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="search"]::placeholder,
  input[type="number"]::placeholder,
  select::placeholder {
    color: gray; }
  input[type="text"]:hover,
  input[type="url"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  input[type="search"]:hover,
  input[type="number"]:hover,
  select:hover {
    border-color: #e6e6e6;
    color: #fff;
    background-color: #e6e6e6; }
    input[type="text"]:hover::placeholder,
    input[type="url"]:hover::placeholder,
    input[type="email"]:hover::placeholder,
    input[type="tel"]:hover::placeholder,
    input[type="search"]:hover::placeholder,
    input[type="number"]:hover::placeholder,
    select:hover::placeholder {
      color: gray; }
  input[type="text"]:focus, input[type="text"]:hover:focus,
  input[type="url"]:focus,
  input[type="url"]:hover:focus,
  input[type="email"]:focus,
  input[type="email"]:hover:focus,
  input[type="tel"]:focus,
  input[type="tel"]:hover:focus,
  input[type="search"]:focus,
  input[type="search"]:hover:focus,
  input[type="number"]:focus,
  input[type="number"]:hover:focus,
  select:focus,
  select:hover:focus {
    border-color: #ffee52;
    color: #ffee52;
    background-color: #e6e6e6; }
    input[type="text"]:focus::placeholder, input[type="text"]:hover:focus::placeholder,
    input[type="url"]:focus::placeholder,
    input[type="url"]:hover:focus::placeholder,
    input[type="email"]:focus::placeholder,
    input[type="email"]:hover:focus::placeholder,
    input[type="tel"]:focus::placeholder,
    input[type="tel"]:hover:focus::placeholder,
    input[type="search"]:focus::placeholder,
    input[type="search"]:hover:focus::placeholder,
    input[type="number"]:focus::placeholder,
    input[type="number"]:hover:focus::placeholder,
    select:focus::placeholder,
    select:hover:focus::placeholder {
      color: gray; }
  input[type="text"]:disabled, input[type="text"]:disabled:hover, input[type="text"]:disabled:focus,
  input[type="url"]:disabled,
  input[type="url"]:disabled:hover,
  input[type="url"]:disabled:focus,
  input[type="email"]:disabled,
  input[type="email"]:disabled:hover,
  input[type="email"]:disabled:focus,
  input[type="tel"]:disabled,
  input[type="tel"]:disabled:hover,
  input[type="tel"]:disabled:focus,
  input[type="search"]:disabled,
  input[type="search"]:disabled:hover,
  input[type="search"]:disabled:focus,
  input[type="number"]:disabled,
  input[type="number"]:disabled:hover,
  input[type="number"]:disabled:focus,
  select:disabled,
  select:disabled:hover,
  select:disabled:focus {
    border-color: #fafafa;
    color: #bfbfbf;
    background-color: #fafafa;
    cursor: not-allowed; }
  input[type="text"]:disabled::placeholder,
  input[type="url"]:disabled::placeholder,
  input[type="email"]:disabled::placeholder,
  input[type="tel"]:disabled::placeholder,
  input[type="search"]:disabled::placeholder,
  input[type="number"]:disabled::placeholder,
  select:disabled::placeholder {
    color: #bfbfbf; }

/* ====================
   textareas
   ==================== */
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 0;
  font-weight: 400;
  color: #fff;
  background-color: #e6e6e6;
  transition: border-color 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
  display: block;
  width: 100%;
  height: auto;
  resize: vertical;
  padding: 0.3125rem 0.9375rem; }
  textarea::placeholder {
    color: gray; }
  textarea:hover {
    border-color: #e6e6e6;
    color: #fff;
    background-color: #e6e6e6; }
    textarea:hover::placeholder {
      color: gray; }
  textarea:focus, textarea:hover:focus {
    border-color: #ffee52;
    color: #ffee52;
    background-color: #e6e6e6; }
    textarea:focus::placeholder, textarea:hover:focus::placeholder {
      color: gray; }
  textarea:disabled, textarea:disabled:hover, textarea:disabled:focus {
    border-color: #fafafa;
    color: #bfbfbf;
    background-color: #fafafa;
    cursor: not-allowed; }
  textarea:disabled::placeholder {
    color: #bfbfbf; }

/* ====================
   selects
   ==================== */
select {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2230px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2030%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-137.000000%2C%20-145.000000%29%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%22152%20161%20137%20145%20167%20145%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 0.46875rem;
  cursor: pointer; }

/* ====================
   Project Styles
   ==================== */
/* ====================
Common / Site Globals and hiq resets
==================== */
html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

button {
  cursor: pointer; }

.lazyload,
.lazyloading {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms; }

/* ====================
   PLUGINS
   ==================== */
/** Galerie **/
/* Classes utilitaires */
/* ====================
   utility mixins and classes
   ==================== */
/* visually hides elements but keeps them accessible to screen readers */
.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; }

/* removes default styling from list */
.list-unstyled {
  margin: 0;
  list-style: none; }

/* ====================
   Mixins
   ==================== */
/***
	MIXINS
***/
/**
	Comment écrire et utiliser un mixin : https://github.com/postcss/postcss-mixins
**/
/** mixin aspectratio
* @width : Largeur de l'élément sans unité
* @height : Hauteur de l'élément sans unité
*/
/*
	@mixin flexgrid
	Utilisation de marge négative : !! Ne pas appliquer cela à un .container !!
	@arg $break Passer en argument la liste des breakpoint (mobile-first)
		et le nombre de colonnes associé, et la gouttière de ce breakpoint
*/
/* ====================
   Layout
   ==================== */
/*  */
/* ====================
   Components
   ==================== */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  z-index: 999;
  width: 100%;
  height: 100px;
  padding: 2rem 0;
  background: #000; }
  .header__row {
    display: flex;
    align-items: center;
    width: 100%; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #ffee52; }
    .header__logo h1 {
      margin-bottom: 0;
      line-height: 0.8; }
      .header__logo h1 > span {
        display: block;
        font-size: 3.6rem; }
      .header__logo h1 span span {
        font-size: 1.9rem; }
  .header nav {
    flex: 1; }
  .header ul {
    display: flex;
    justify-content: flex-end; }
    .header ul li:first-child {
      margin-right: 7.5%; }
    .header ul a {
      position: relative;
      text-transform: uppercase;
      font-weight: 900;
      color: #fff; }
      .header ul a::after {
        position: absolute;
        bottom: -8px;
        left: 0;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: scaleX(0);
        transition: transform 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
        content: ''; }
      .header ul a:hover::after, .header ul a:focus::after, .header ul a.is-active::after {
        transform: scaleX(1); }
  .header .mobile-nav-toggle {
    display: none; }
    @media (max-width: 48rem) {
      .header .mobile-nav-toggle {
        display: block; } }
  .header #navigation {
    display: block; }
    @media (max-width: 48rem) {
      .header #navigation {
        display: none; } }

.map {
  width: 100vw;
  height: 100vh; }

/* Popup style */
.leaflet-popup {
  width: 275px;
  cursor: pointer; }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: none;
  background: #000; }

.leaflet-popup-content-wrapper {
  border-radius: 0; }

.leaflet-popup-tip {
  width: 41px;
  height: 41px;
  margin: -29px auto 0; }

.leaflet-popup-content {
  margin: 10px; }

/*
Controls
*/
.leaflet-top {
  top: 0;
  top: auto;
  bottom: 2%; }

/* Inner Style popup */
.custom-popup h2 {
  text-transform: uppercase;
  color: #ffee52; }
  .custom-popup h2.--is-long {
    font-size: 2.4rem; }

.custom-popup p {
  margin: 0 0 10px; }

.custom-popup__img {
  position: relative;
  width: 255px;
  height: 128px;
  aspect-ratio: 255 / 128;
  margin-bottom: .5rem; }
  .custom-popup__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .custom-popup__img button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin: -23px 0 0 -23px;
    border-radius: 50%;
    background: #fff; }
    .custom-popup__img button::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 23px;
      height: 23px;
      margin: -11px 0 0 -9px;
      background: url("../img/play.svg");
      content: ''; }

.custom-popup__place {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff; }
  .custom-popup__place::before {
    width: 18px;
    height: 18px;
    margin-right: 9px;
    background: url("../img/target-white.svg");
    content: ''; }

.full-popup {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1000;
  width: 95vw;
  z-index: 1001;
  max-width: 1440px;
  padding: 2rem 4rem;
  background: #000;
  transform: translate3d(-50%, -50%, 0);
  max-height: 90vh; }
  .full-popup.is-active {
    display: block; }
  .full-popup__header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-flow: row wrap; }
    .full-popup__header h2 {
      margin-right: 1.5rem;
      text-transform: uppercase;
      color: #ffee52; }
    .full-popup__header p {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 900;
      color: #fff; }
      .full-popup__header p::before {
        width: 18px;
        height: 18px;
        margin-right: 9px;
        background: url("../img/target-white.svg");
        content: ''; }
  .full-popup__embed {
    aspect-ratio: 16/9; }
    .full-popup__embed iframe {
      width: 100%;
      height: 100%; }
  .full-popup__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 26px;
    height: 26px;
    background: url("../img/close.svg"); }

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1001;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  cursor: default; }
  .intro__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    font-weight: 900;
    color: #ffee52;
    margin-bottom: 0;
    line-height: 0.8;
    margin-top: -27px;
    opacity: 0; }
    .intro__content > span {
      display: block;
      font-size: 12rem; }
    .intro__content span span {
      font-size: 6.5rem; }
  .intro__background {
    background: url("../img/brush.png");
    width: 100%;
    height: 387px;
    opacity: 0;
    aspect-ratio: 1097 / 387;
    max-width: 1097px; }
  .intro.is-active {
    display: block;
    pointer-events: all; }
  .intro.is-active .intro__content {
    opacity: 1;
    transition: opacity 0.4s cubic-bezier(0.44, 0.21, 0, 1) 0.2s; }
  .intro.is-active .intro__background {
    opacity: 1;
    transition: opacity 0.4s cubic-bezier(0.44, 0.21, 0, 1); }

.custom-div-icon {
  width: 40px;
  height: 40px; }
  .custom-div-icon__outer {
    transform: rotate(45deg);
    width: 40px;
    height: 40px;
    background: #ffee52;
    display: flex;
    align-items: center;
    justify-content: center; }
  .custom-div-icon__inner {
    transform: rotate(-45deg);
    background: url("../img/target.svg") center/contain no-repeat;
    width: 30px;
    height: 30px;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.44, 0.21, 0, 1), transform 0.4s cubic-bezier(0.44, 0.21, 0, 1); }
  .custom-div-icon.is-active .custom-div-icon__inner {
    opacity: 0;
    transform: scale(0); }

/* ====================
   Modules
   ==================== */
#navigation {
  width: 100%; }

/* -------------- */
/* ==Buttons                     */
/**
 * Extends HIQ Buttons
**/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: rgba(33, 33, 33, 0.32);
  opacity: 0;
  transition: opacity 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
  pointer-events: none; }
  .overlay.is-active {
    opacity: 1;
    pointer-events: all; }

/*# sourceMappingURL=main.css.map */
