@charset "UTF-8";
/*!
	@author Le Petit Garage
*/
/* ------------------- */
/* ==Table Of Content  */
/* ------------------- */
/*
  - Reset
  - variables
  - Utility
  - a11y - prefers-reduced-motion
  - a11y - skip-links
  - Colors
  - Buttons
  - Forms
  - Common
  - Structure
  - Typography
*/
/* Reset */
/* -------
	RESET
-------- */
/*
* based on
*	https://github.com/jgthms/minireset.css/blob/master/minireset.css
*	https://github.com/alsacreations/KNACSS/blob/master/sass/_vendor/_reboot.scss
*/
/* Set border-box box sizing so borders and padding don't affect set dimensions */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Reset block margins so spacing is only applied when needed */
html,
body,
p,
ol,
ul,
li,
blockquote,
figure,
fieldset,
legend,
textarea,
iframe,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

/*
	Set html font size to match browser size
	Prevent adjustments of font size after orientation changes on some mobile devices
	Reset line height
*/
html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

/* Reset font sizes so semantic markup doesn't affect styling */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers */
sub,
sup {
  position: relative;
  line-height: 0;
  vertical-align: baseline; }

/* Remove bullets from unordered lists */
ul {
  list-style: none; }

/* Remove border from iframes */
iframe {
  border: 0; }

/* Set responsive media elements so images and embeds scale with browser width */
img,
embed,
object,
audio,
video {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: bottom; }

/* Remove default styling of buttons and inputs */
button,
input,
textarea,
select {
  width: auto;
  height: auto;
  resize: none;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  background-color: transparent;
  background-image: none; }

/* ====================
   speed up touch delay
   ==================== */
a,
button,
.button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation; }

/* Accessibility Settings */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0s !important;
    transition-duration: 0s !important; } }

/*
	Options :
	- Reset tables
*/
/* Units */
/* -------
	CONVERT PX TO REM
-------- */
/*
 * based on
 *	https://css-tricks.com/snippets/sass/px-to-em-functions/
 */
/*
 * Examples (both examples give the same result) :

	h1 {
		font-size: rem(32);
	}

	h1 {
		font-size: rem(32px);
	}
 *
 */
/* Variables */
/* ====================
     transition variables
==================== */
/* border-radius */
/* ease-out */
/* ease-in */
/* ease-in-out */
/* ease */
/* Components */
/* =========
	Fonts
	Fichiers de fonts du site.
	- Utiliser que les formats .woff et .woff2
	- Ajouter la propriété font-display: swap;
========== */
/* ====================
   Typography
   ==================== */
/* font families */
/* base unitless line heights */
/* font sizes */
/* font weights */
/* letter spacing */
/* applied font weights */
/* list variables */
/* margins */
/* ====================
   global font settings
   ==================== */
html {
  /* font smoothing */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* base font family */
  font-family: "Arial", sans-serif;
  /* keep browsers font-size settings - 1rem equals 16px */
  font-size: 100%;
  /* base line height */
  line-height: 1.4;
  /* base font weight */
  font-weight: 400;
  /* base letter spacing */
  letter-spacing: 0; }

body {
  font-size: 1.125rem; }

/* ====================
   headings
   ==================== */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 0.625rem;
  line-height: 1.2;
  font-weight: 700; }

/* heading sizes and spacing */
h1,
.h1 {
  font-size: 2.5rem; }

h2,
.h2 {
  font-size: 1.875rem; }

h3,
.h3 {
  font-size: 1.5rem; }

h4,
.h4 {
  font-size: 0.125rem; }

h5,
.h5 {
  font-size: 1.125rem; }

h6,
.h6 {
  font-size: 0.625rem; }

/* ====================
   additional type styles
   ==================== */
/* small font size */
small {
  font-size: 0.625rem; }

/* additional font weights */
strong,
b {
  font-weight: 700; }

/* block spacing */
p,
dl,
ol,
ul,
blockquote,
figcaption {
  margin: 0 0 0.625rem; }

/* link inside <p> */
p a {
  font-weight: 700; }

/* blockquote */
blockquote p::before {
  content: "\201c"; }

blockquote p::after {
  content: "\201d"; }

/* ====================
   list styles
   ==================== */
ol,
ul {
  margin-left: 2rem; }

/* unordered list bullets */
ul {
  list-style: disc; }

/* ====================
	color variables
	==================== */
/* semantic palette */
/* Site - colors : */
/* gray palette */
/* Utilisé sur les inputs */
/* Utilisé sur les inputs */
/* applied colors */
/* ====================
	link variables
	==================== */
/* ====================
   applied colors
   ==================== */
html {
  background-color: #fff; }

body {
  color: #fff;
  background-color: #fff; }

a {
  text-decoration: none;
  color: #ffee52;
  transition: color 0.2s ease-out; }
  a:hover {
    text-decoration: none;
    color: #524a00; }
  a:focus {
    color: #524a00; }
  a:active {
    color: #524a00; }

/* ====================
     structural variables
     ==================== */
/* container variables */
/* Containers */
/* Media queries du site, l'unité rem rend le zoom accessible et proportionnel à la taille de la typo */
/* Responsive breakpoints */
/* ====================
   containers
   ==================== */
/* mixins */
/* wrapper div */
.container {
  width: 100%;
  max-width: 87.375rem;
  margin: 0 auto;
  padding: 0 1rem;
  /*
		On définit ici des nouveaux points pour le .container
		En prenant en compte le padding mobile
	*/
  /* Et on évite de l'appliquer à nouveau aux containers descendants */ }
  .container--large {
    max-width: 66rem; }
  .container--medium {
    max-width: 50rem; }
  .container--small {
    max-width: 35.75rem; }
  .container--paddingless {
    padding: 0; }
  .container .container {
    padding-right: 0;
    padding-left: 0; }

/* ====================
   horizontal rules
   ==================== */
hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  border: none;
  background-color: #ffee52; }

/* ====================
   media/embeds
   ==================== */
img,
audio,
video,
canvas,
iframe {
  display: block; }

svg {
  fill: currentColor; }

/* Forms */
/* ====================
     form variables
     ==================== */
/* labels */
/* text inputs */
/* static input colors */
/* hover input colors */
/* focus input colors */
/* disabled input colors */
/* textareas */
/* selects */
/* ====================
   general form styling
   ==================== */
fieldset {
  margin: 0.625rem 0;
  padding: 0;
  border: 0 solid transparent; }
  fieldset legend {
    margin-bottom: 0.625rem;
    font-weight: bold; }

label {
  display: block;
  margin-bottom: 0.3125rem;
  font-weight: bold; }

input,
select,
textarea {
  outline: 0; }

/* ====================
   general mixin
   ==================== */
/* ====================
   text inputs
   ==================== */
input[type="text"],
input[type="url"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="number"],
select {
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 0;
  font-weight: 400;
  color: #fff;
  background-color: #e6e6e6;
  transition: border-color 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0 0.9375rem; }
  input[type="text"]::placeholder,
  input[type="url"]::placeholder,
  input[type="email"]::placeholder,
  input[type="tel"]::placeholder,
  input[type="search"]::placeholder,
  input[type="number"]::placeholder,
  select::placeholder {
    color: gray; }
  input[type="text"]:hover,
  input[type="url"]:hover,
  input[type="email"]:hover,
  input[type="tel"]:hover,
  input[type="search"]:hover,
  input[type="number"]:hover,
  select:hover {
    border-color: #e6e6e6;
    color: #fff;
    background-color: #e6e6e6; }
    input[type="text"]:hover::placeholder,
    input[type="url"]:hover::placeholder,
    input[type="email"]:hover::placeholder,
    input[type="tel"]:hover::placeholder,
    input[type="search"]:hover::placeholder,
    input[type="number"]:hover::placeholder,
    select:hover::placeholder {
      color: gray; }
  input[type="text"]:focus, input[type="text"]:hover:focus,
  input[type="url"]:focus,
  input[type="url"]:hover:focus,
  input[type="email"]:focus,
  input[type="email"]:hover:focus,
  input[type="tel"]:focus,
  input[type="tel"]:hover:focus,
  input[type="search"]:focus,
  input[type="search"]:hover:focus,
  input[type="number"]:focus,
  input[type="number"]:hover:focus,
  select:focus,
  select:hover:focus {
    border-color: #ffee52;
    color: #ffee52;
    background-color: #e6e6e6; }
    input[type="text"]:focus::placeholder, input[type="text"]:hover:focus::placeholder,
    input[type="url"]:focus::placeholder,
    input[type="url"]:hover:focus::placeholder,
    input[type="email"]:focus::placeholder,
    input[type="email"]:hover:focus::placeholder,
    input[type="tel"]:focus::placeholder,
    input[type="tel"]:hover:focus::placeholder,
    input[type="search"]:focus::placeholder,
    input[type="search"]:hover:focus::placeholder,
    input[type="number"]:focus::placeholder,
    input[type="number"]:hover:focus::placeholder,
    select:focus::placeholder,
    select:hover:focus::placeholder {
      color: gray; }
  input[type="text"]:disabled, input[type="text"]:disabled:hover, input[type="text"]:disabled:focus,
  input[type="url"]:disabled,
  input[type="url"]:disabled:hover,
  input[type="url"]:disabled:focus,
  input[type="email"]:disabled,
  input[type="email"]:disabled:hover,
  input[type="email"]:disabled:focus,
  input[type="tel"]:disabled,
  input[type="tel"]:disabled:hover,
  input[type="tel"]:disabled:focus,
  input[type="search"]:disabled,
  input[type="search"]:disabled:hover,
  input[type="search"]:disabled:focus,
  input[type="number"]:disabled,
  input[type="number"]:disabled:hover,
  input[type="number"]:disabled:focus,
  select:disabled,
  select:disabled:hover,
  select:disabled:focus {
    border-color: #fafafa;
    color: #bfbfbf;
    background-color: #fafafa;
    cursor: not-allowed; }
  input[type="text"]:disabled::placeholder,
  input[type="url"]:disabled::placeholder,
  input[type="email"]:disabled::placeholder,
  input[type="tel"]:disabled::placeholder,
  input[type="search"]:disabled::placeholder,
  input[type="number"]:disabled::placeholder,
  select:disabled::placeholder {
    color: #bfbfbf; }

/* ====================
   textareas
   ==================== */
textarea {
  border-width: 1px;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 0;
  font-weight: 400;
  color: #fff;
  background-color: #e6e6e6;
  transition: border-color 0.2s ease-out, color 0.2s ease-out, background-color 0.2s ease-out;
  display: block;
  width: 100%;
  height: auto;
  resize: vertical;
  padding: 0.3125rem 0.9375rem; }
  textarea::placeholder {
    color: gray; }
  textarea:hover {
    border-color: #e6e6e6;
    color: #fff;
    background-color: #e6e6e6; }
    textarea:hover::placeholder {
      color: gray; }
  textarea:focus, textarea:hover:focus {
    border-color: #ffee52;
    color: #ffee52;
    background-color: #e6e6e6; }
    textarea:focus::placeholder, textarea:hover:focus::placeholder {
      color: gray; }
  textarea:disabled, textarea:disabled:hover, textarea:disabled:focus {
    border-color: #fafafa;
    color: #bfbfbf;
    background-color: #fafafa;
    cursor: not-allowed; }
  textarea:disabled::placeholder {
    color: #bfbfbf; }

/* ====================
   selects
   ==================== */
select {
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2230px%22%20height%3D%2216px%22%20viewBox%3D%220%200%2030%2016%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-137.000000%2C%20-145.000000%29%22%20fill%3D%22%23000000%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpolygon%20points%3D%22152%20161%20137%20145%20167%20145%22%3E%3C/polygon%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.625rem center;
  background-size: 0.46875rem;
  cursor: pointer; }

/* ====================
   Project Styles
   ==================== */
/* ====================
Common / Site Globals and hiq resets
==================== */
html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

button {
  cursor: pointer; }

.lazyload,
.lazyloading {
  opacity: 0; }

.lazyloaded {
  opacity: 1;
  transition: opacity 300ms; }

/* ====================
   PLUGINS
   ==================== */
/** Galerie **/
/* Classes utilitaires */
/* ====================
   utility mixins and classes
   ==================== */
/* visually hides elements but keeps them accessible to screen readers */
.visually-hidden {
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap; }

/* removes default styling from list */
.list-unstyled {
  margin: 0;
  list-style: none; }

/* ====================
   WORDPRESS
   ==================== */
/* =WordPress Core
/* https://codex.wordpress.org/CSS
---------------------------------- */
.alignnone {
  margin: 0.3125rem 1.25rem 1.25rem 0; }

.align-center {
  text-align: center; }

.aligncenter,
div.aligncenter {
  display: block;
  margin: 0.3125rem auto 0.3125rem auto; }

.alignright {
  float: right;
  margin: 0.3125rem 0 1.25rem 1.25rem; }

.alignleft {
  float: left;
  margin: 0.3125rem 1.25rem 1.25rem 0; }

a img.alignright {
  float: right;
  margin: 0.3125rem 0 1.25rem 1.25rem; }

a img.alignnone {
  margin: 0.3125rem 1.25rem 1.25rem 0; }

a img.alignleft {
  float: left;
  margin: 0.3125rem 1.25rem 1.25rem 0; }

a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto; }

.wp-caption {
  max-width: 96%;
  /* Image does not overflow the content area */
  padding: 0.3125rem 0.1875rem 0.625rem;
  border: 1px solid #f0f0f0;
  text-align: center;
  background: #fff; }

.wp-caption.alignnone {
  margin: 0.3125rem 1.25rem 1.25rem 0; }

.wp-caption.alignleft {
  margin: 0.3125rem 1.25rem 1.25rem 0; }

.wp-caption.alignright {
  margin: 0.3125rem 0 1.25rem 1.25rem; }

.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  margin: 0;
  padding: 0;
  border: 0 none; }

.wp-caption p.wp-caption-text {
  margin: 0;
  padding: 0 0.25rem 0.3125rem;
  font-size: 0.6875rem;
  line-height: 1.0625rem; }

/* ------------------- */
/* ==Article           */
/* ------------------- */
/* Styles du Wysiwig / RTE Wordpress par défaut dans les articles */
.article-content ul {
  list-style-type: disc;
  margin-left: 1.25rem; }

.article-content a:not(.button) {
  text-decoration: underline;
  font-weight: 700; }

.article-content > * + h2,
.article-content > * + h3,
.article-content > * + h4 {
  margin-top: 1.5625rem;
  margin-bottom: 0.625rem; }

.article-content iframe {
  width: 100%;
  margin: 2.5rem auto; }

.article-content .embed-container {
  margin-bottom: 1.25rem; }
  .article-content .embed-container iframe {
    margin: 0; }

.article-content blockquote {
  margin: 0.625rem 0;
  font-size: calc(1.33 * 1.125rem);
  font-weight: 700; }

/* ------------------- */
/* ==Breadcrumbs       */
/* ------------------- */
.breadcrumbs {
  list-style-type: none;
  font-family: "Arial", sans-serif; }
  .breadcrumbs span,
  .breadcrumbs a {
    font-size: 0.625rem; }
  .breadcrumbs li {
    display: inline-block; }
    .breadcrumbs li::after {
      display: inline-block;
      margin: 0 0.3125rem;
      vertical-align: text-top;
      content: " › "; }
    .breadcrumbs li:last-child::after {
      display: none;
      content: ""; }

/* ------------------- */
/* ==Pagination        */
/* ------------------- */
.pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 0 0 0.625rem 0;
  padding: 0 1rem;
  font-size: 0.625rem; }
  .pagination .page-numbers {
    padding-left: 0;
    list-style-type: none; }
  .pagination li {
    display: inline-block;
    margin-right: 0.3125rem; }
    .pagination li:last-child {
      margin-right: 0; }
    .pagination li a,
    .pagination li span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 1.5625rem;
      height: 1.5625rem;
      font-family: "Arial", sans-serif;
      text-decoration: none;
      color: gray;
      transition: color 0.4s ease-out, background 0.4s ease-out; }
      .pagination li a.current, .pagination li a:hover, .pagination li a:focus,
      .pagination li span.current,
      .pagination li span:hover,
      .pagination li span:focus {
        color: #ffee52; }
      .pagination li a.current,
      .pagination li span.current {
        cursor: default; }
    .pagination li.btn a,
    .pagination li.btn span {
      width: auto;
      padding: 0 0.3125rem; }
    .pagination li.first, .pagination li.last {
      font-size: 0.8125rem; }
    .pagination li.disabled a {
      color: #bfbfbf;
      cursor: not-allowed; }
      .pagination li.disabled a:hover, .pagination li.disabled a:focus {
        color: #bfbfbf;
        background: inherit; }
  @media (max-width: 48rem) {
    .pagination {
      font-size: 0.875rem; } }

.embed-container {
  position: relative;
  max-width: 100%;
  height: 0;
  height: auto;
  overflow: hidden;
  padding-bottom: 56.25%; }
  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.entry-content {
  /***
        On applique le conteneur a chaque element individuel, sauf pour les :not ci-dessous
        Par exemple pour les .lpg-blocks qui sont des blocs acf-gutenberg qui ont tous leur propre largeur
    ***/ }
  .entry-content > *:not(.lpg-block):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.is-style-wide):not(.is-style-large):not(hr) {
    max-width: 35.75rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem; }
  .entry-content > :first-child {
    margin-top: 0; }
  .entry-content > .wp-block-button {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem; }
  .entry-content > * + h2 {
    margin-top: 2.1875rem;
    margin-bottom: 1.25rem; }
  .entry-content > * + h3,
  .entry-content > * + h4 {
    margin-top: 1.25rem;
    margin-bottom: 0.625rem; }
  .entry-content > ul,
  .entry-content > ol {
    position: relative;
    left: 1rem; }
  .entry-content .wp-block-columns,
  .entry-content .wp-block-gallery {
    margin: 2.5rem auto; }

/* -------------------------------------------------------------------------- */
/*	11. Entry Content
/* -------------------------------------------------------------------------- */
.entry-content > *:last-child:not(.stats) {
  margin-bottom: 0; }

.entry-content ul ul,
.entry-content ol ol,
.entry-content ul ol,
.entry-content ol ul {
  margin-bottom: 0.625rem; }

/* Alignment Classes ------------------------- */
.alignnone,
.aligncenter,
.alignleft,
.alignright {
  max-width: 100%;
  margin: 1.875rem 0; }

.aligncenter,
.aligncenter img {
  margin-right: auto;
  margin-left: auto; }

.alignleft,
.alignright {
  max-width: 50%; }

.alignleft {
  /* rtl:ignore */
  float: left;
  margin: 0.1875rem 1.25rem 1.25rem 0; }

.alignright {
  /* rtl:ignore */
  float: right;
  margin: 0.1875rem 0 1.25rem 1.25rem; }

.alignwide {
  max-width: 48rem;
  margin: 2.5rem auto; }

.entry-content > .alignwide {
  position: relative;
  left: calc(50% - 50vw + 1.25rem);
  width: calc(80vw - 2.5rem);
  max-width: calc(80vw - 2.5rem); }
  @media (max-width: 48rem) {
    .entry-content > .alignwide {
      position: static;
      width: 100%;
      max-width: 100%; } }

.alignfull {
  max-width: 100%;
  margin: 3.125rem 0; }

.entry-content > .alignfull {
  position: relative;
  left: calc(50% - 50vw);
  width: 100vw;
  max-width: 100vw; }

/* Entry Media ------------------------------- */
.alignfull > figcaption,
.alignfull > .wp-caption-text {
  width: calc(100% - 2.5rem);
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto; }

/* Clearing ---------------------------------- */
.group::after,
.entry-content::after {
  display: block;
  clear: both;
  content: ""; }

/* ------------------- */
/* ==Navigation Principale

/* ------------------- */
#navigation {
  margin-left: auto;
  /* Menu principal */
  /* Menu principal : enfant */
  /**
    SUB-MENUS : Structure
  **/
  /**
    SUB-MENUS : Hover states
  **/
  /**
    SUB-MENUS : Styling interne
  **/
  /**
    SUB-SUB-MENUS : Structure (reset de la position du premier sub-menu)
  **/ }
  #navigation .menu {
    display: flex;
    align-items: center; }
    #navigation .menu > .menu-item {
      position: relative;
      margin: 0 0 0 1.875rem; }
  #navigation .menu-item a,
  #navigation .menu-item button {
    position: relative;
    font-weight: 700;
    color: #fff; }
    #navigation .menu-item a:hover, #navigation .menu-item a:focus,
    #navigation .menu-item button:hover,
    #navigation .menu-item button:focus {
      color: #ffee52; }
  #navigation .menu-item.current-menu-item > a,
  #navigation .menu-item.current-menu-item button, #navigation .menu-item.current-menu-ancestor > a,
  #navigation .menu-item.current-menu-ancestor button, #navigation .menu-item.menu-item-has-children:hover > a,
  #navigation .menu-item.menu-item-has-children:hover button, #navigation .menu-item.menu-item-has-children:focus > a,
  #navigation .menu-item.menu-item-has-children:focus button {
    color: #ffee52; }
  #navigation .sub-menu {
    position: absolute;
    top: calc(100% + 1.25rem);
    right: 9999rem;
    z-index: 1;
    width: 12.5rem;
    padding: 0.625rem 0;
    padding: 1rem 0;
    border-radius: 0.4rem;
    box-shadow: 0 0.125rem 1.4375rem rgba(134, 152, 163, 0.15);
    font-size: 1rem;
    color: #fff;
    background: #fff;
    opacity: 0;
    transform: translateY(0.375rem);
    transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s; }
    #navigation .sub-menu::before, #navigation .sub-menu::after {
      display: block;
      position: absolute;
      bottom: 100%;
      content: ""; }
    #navigation .sub-menu::after {
      right: 1.125rem;
      border: 0.5rem solid transparent;
      border-bottom-color: #fff; }
    #navigation .sub-menu::before {
      right: 0;
      left: 0;
      height: 1.25rem; }
  #navigation .menu-item-has-children:hover .sub-menu,
  #navigation .menu-item-has-children:focus .sub-menu,
  #navigation .menu-item-has-children.focus .sub-menu {
    right: 0;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.15s linear, transform 0.15s linear; }
  #navigation .sub-menu a {
    display: block;
    width: 100%;
    padding: 0.625rem 0 0.625rem 1.25rem;
    font-size: 1rem;
    font-weight: 400;
    transition: color 0.2s ease-out, background 0.2s ease-out; }
    #navigation .sub-menu a:hover {
      color: #ffee52; }
  #navigation .sub-menu li:hover, #navigation .sub-menu li.current-menu-item {
    background: #f7f7fc; }
    #navigation .sub-menu li:hover a, #navigation .sub-menu li.current-menu-item a {
      color: #ffee52; }
  #navigation .sub-menu .sub-menu {
    position: static;
    padding: 0 0 0.625rem 0;
    box-shadow: none;
    background: transparent; }
    #navigation .sub-menu .sub-menu::before, #navigation .sub-menu .sub-menu::after {
      display: none; }
    #navigation .sub-menu .sub-menu a {
      padding: 0.625rem 0 0.625rem 1.875rem; }
      #navigation .sub-menu .sub-menu a:hover {
        color: #ffee52; }

/* Cover Modals ------------------------------ */
.cover-modal {
  display: none;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none; }

.cover-modal::-webkit-scrollbar {
  display: none !important; }

.cover-modal.show-modal {
  display: block;
  cursor: pointer; }

.cover-modal.show-modal > * {
  cursor: default; }

/* -------------------------------------------------------------------------- */
/*	5. Menu Modal
/* -------------------------------------------------------------------------- */
.menu-modal {
  display: none;
  position: fixed;
  top: 0;
  right: 99999rem;
  bottom: 0;
  left: -99999rem;
  z-index: 99;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  opacity: 0;
  transition: opacity 0.25s ease-in, left 0s 0.25s, right 0s 0.25s; }

.menu-modal.show-modal {
  display: flex; }

.menu-modal.active {
  right: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.25s ease-out; }

.menu-modal-inner {
  display: flex;
  justify-content: stretch;
  width: 100%;
  overflow: auto;
  background: #fff;
  -ms-overflow-style: auto; }

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 0.9375rem; }

button.close-nav-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin-left: auto;
  padding: 0;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer; }

button.close-nav-toggle svg {
  width: 1rem;
  height: 1rem; }

button.close-nav-toggle .toggle-text {
  margin-right: 1rem; }

.menu-modal .menu-top {
  flex-shrink: 0; }
  .menu-modal .menu-top__header {
    display: flex;
    align-items: center;
    padding: 1.25rem 0; }

.mobile-nav-toggle {
  cursor: pointer; }

/* Main Menu --------------------------------- */
.modal-menu {
  position: relative;
  left: calc(50% - 50vw);
  width: 100vw; }

.modal-menu li {
  display: flex;
  justify-content: flex-start;
  margin: 0;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #dedfdf;
  line-height: 1;
  flex-wrap: wrap; }

.modal-menu > li > a,
.modal-menu > li > .ancestor-wrapper > a {
  font-size: 1.25rem;
  font-weight: 700; }

.modal-menu > li:last-child {
  border-bottom-width: 1px; }

.modal-menu .ancestor-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%; }

.modal-menu a {
  display: block;
  width: 100%;
  padding: 1.25rem 1.5625rem;
  text-decoration: none;
  color: #fff; }

.modal-menu a:focus,
.modal-menu a:hover,
.modal-menu li.current-menu-item > .ancestor-wrapper > a,
.modal-menu li.current_page_ancestor > .ancestor-wrapper > a {
  text-decoration: underline; }

button.sub-menu-toggle {
  margin: 1rem 0;
  padding: 0 1.5625rem;
  border-left: 0.1rem solid #dedfdf;
  flex-shrink: 0; }

button.sub-menu-toggle svg {
  width: 0.9375rem;
  height: 0.5625rem;
  transition: transform 0.15s linear; }

button.sub-menu-toggle.active svg {
  transform: rotate(180deg); }

.modal-menu ul {
  display: none;
  width: 100%;
  margin: 0; }

.modal-menu ul li {
  border-left-width: 0.625rem; }

.modal-menu ul li a {
  font-weight: 500;
  color: inherit; }

/* Main menu animation ----------------------- */
.menu-wrapper .menu-item {
  position: relative; }

.menu-wrapper .active {
  display: block; }

.menu-wrapper.is-toggling {
  pointer-events: none; }

.menu-wrapper.is-toggling .menu-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0; }

.menu-wrapper.is-toggling .menu-bottom .social-menu .menu-item {
  width: auto; }

.menu-wrapper.is-animating .menu-item,
.menu-wrapper.is-animating .toggling-target {
  transition-duration: 250ms; }

.menu-wrapper.is-animating .menu-item {
  transition-property: transform; }

.menu-wrapper.is-toggling .toggling-target {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1; }

.menu-wrapper.is-toggling .toggling-target.active {
  opacity: 0; }

.menu-wrapper.is-animating.is-toggling .toggling-target {
  display: block;
  transition-property: opacity;
  opacity: 0; }

.menu-wrapper.is-animating.is-toggling .toggling-target.active {
  opacity: 1; }

.menu-wrapper.is-toggling .modal-menu > li:last-child li {
  border-bottom-width: 1px;
  border-top-color: transparent; }

@media (prefers-reduced-motion: reduce) {
  .menu-wrapper.is-animating .menu-item,
  .menu-wrapper.is-animating .toggling-target {
    transition-duration: 1ms !important; } }

@media (min-width: 43.75rem) {
  /* Menu Modal ---------------------------- */
  button.close-nav-toggle {
    padding: 0;
    font-size: 1.125rem; }
  button.close-nav-toggle svg {
    width: 1.25rem;
    height: 1.25rem; }
  button.close-nav-toggle .toggle-text {
    margin-right: 1.3125rem; }
  .modal-menu {
    left: auto;
    width: 100%; }
  .modal-menu > li > a,
  .modal-menu > li > .ancestor-wrapper > a {
    padding: 1.5625rem 0;
    font-size: 1.5rem; }
  .modal-menu ul li {
    border-left-color: transparent; }
  .modal-menu > li > .ancestor-wrapper > button.sub-menu-toggle {
    padding: 0 1.875rem; }
  .modal-menu > li > .ancestor-wrapper > button.sub-menu-toggle svg {
    width: 1.125rem;
    height: 0.6875rem; } }

@media (min-width: 62.5rem) {
  /* Menu Modal ---------------------------- */
  .menu-modal {
    justify-content: flex-end;
    padding: 0;
    opacity: 1;
    transition: background-color 0.3s ease-in, left 0s 0.3s, right 0s 0.3s; }
  .menu-modal.cover-modal {
    background: rgba(0, 0, 0, 0); }
  .menu-modal.active {
    background: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease-out; }
  .menu-modal-inner {
    width: 3.125rem;
    padding: 0;
    box-shadow: 0 0 1.25rem 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(12.5rem);
    transition: transform 0.2s ease-in, opacity 0.2s ease-in; }
  .menu-modal.active .menu-modal-inner {
    opacity: 1;
    transform: translateX(0);
    transition-timing-function: ease-out; }
  .menu-bottom {
    padding: 3.75rem 0; }
  .menu-bottom .social-menu {
    justify-content: flex-start; } }

/* ====================
   Mixins
   ==================== */
/***
	MIXINS
***/
/**
	Comment écrire et utiliser un mixin : https://github.com/postcss/postcss-mixins
**/
/** mixin aspectratio
* @width : Largeur de l'élément sans unité
* @height : Hauteur de l'élément sans unité
*/
/*
	@mixin flexgrid
	Utilisation de marge négative : !! Ne pas appliquer cela à un .container !!
	@arg $break Passer en argument la liste des breakpoint (mobile-first)
		et le nombre de colonnes associé, et la gouttière de ce breakpoint
*/
/* ====================
   Layout
   ==================== */
/*  */
/* ====================
   Components
   ==================== */
.header {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  padding: 1.25rem 0;
  background: #fff; }
  .header.is-scrolling {
    box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.3); }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .header__logo {
    max-width: 12.1875rem; }
  .header .mobile-nav-toggle {
    display: none; }
    @media (max-width: 48rem) {
      .header .mobile-nav-toggle {
        display: block; } }
  .header #navigation {
    display: block; }
    @media (max-width: 48rem) {
      .header #navigation {
        display: none; } }

.map {
  width: 100vw;
  height: 100vh; }

/* Popup style */
.leaflet-popup {
  width: 275px;
  cursor: pointer; }

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  box-shadow: none;
  background: #000; }

.leaflet-popup-content-wrapper {
  border-radius: 0; }

.leaflet-popup-tip {
  width: 41px;
  height: 41px;
  margin: -29px auto 0; }

.leaflet-popup-content {
  margin: 10px; }

/* Inner Style popup */
.custom-popup h2 {
  text-transform: uppercase;
  color: #ffee52; }

.custom-popup p {
  margin: 0 0 10px; }

.custom-popup__img {
  position: relative;
  width: 255px;
  height: 128px;
  aspect-ratio: 255 / 128; }
  .custom-popup__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .custom-popup__img button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 46px;
    height: 46px;
    margin: -23px 0 0 -23px;
    border-radius: 50%;
    background: #fff; }
    .custom-popup__img button::after {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 23px;
      height: 23px;
      margin: -11px 0 0 -9px;
      background: url("../img/play.svg");
      content: ''; }

.custom-popup__place {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #fff; }
  .custom-popup__place::before {
    width: 18px;
    height: 18px;
    margin-right: 9px;
    background: url("../img/target-white.svg");
    content: ''; }

/* ====================
   Modules
   ==================== */
#navigation {
  width: 100%; }

/* -------------- */
/* ==Buttons                     */
/**
 * Extends HIQ Buttons
**/
/* ====================
   Helpers
   ==================== */

/*# sourceMappingURL=main.css.map */
