// Html Styles
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

button {
	cursor: pointer;
}

// Lazyload opacity animation
.lazyload,
.lazyloading {
	opacity: 0;
}

.lazyloaded {
	opacity: 1;
	transition: opacity 300ms;
}
