.header {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  padding: rem(20px) 0;
  background: #fff;

  &.is-scrolling {
    box-shadow: 0 rem(4px) rem(4px) rgba(#000, 0.3);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    max-width: rem(195px);
  }

  // MENU MOBILE
  .mobile-nav-toggle {
    display: none;
    @media ($break-max-mobile-menu) {
      display: block;
    }
  }

  #navigation {
    display: block;
    @media ($break-max-mobile-menu) {
      display: none;
    }
  }
}
