/* ------------------- */

/* ==Navigation Principale

/* ------------------- */
#navigation {
	margin-left: auto;

	/* Menu principal */
	.menu {
		display: flex;
		align-items: center;

		> .menu-item {
			position: relative;
			margin: 0 0 0 rem(30px);
		}
	}

	/* Menu principal : enfant */
	.menu-item {
		a,
		button {
			position: relative;
			font-weight: $font-weight-bold;
			color: $color-text;

			&:hover,
			&:focus {
				color: $color-primary;
			}
		}

		// Page active, survol du parent
		&.current-menu-item,
		&.current-menu-ancestor,
		&.menu-item-has-children:hover,
		&.menu-item-has-children:focus {
			> a,
			button {
				color: $color-primary;
			}
		}
	}

	/**
    SUB-MENUS : Structure
  **/
	.sub-menu {
		position: absolute;
		top: calc(100% + #{rem(20px)});
		right: 9999rem;
		z-index: 1;
		width: rem(200px);
		padding: rem(10px) 0;
		padding: rem(16px) 0;
		border-radius: 0.4rem;
		box-shadow: 0 rem(2px) rem(23px) rgba(134, 152, 163, 0.15);
		font-size: rem(16px);
		color: #fff;
		background: #fff;
		opacity: 0;
		transform: translateY(#{rem(6px)});
		transition: opacity 0.15s linear, transform 0.15s linear, right 0s 0.15s;

		&::before,
		&::after {
			display: block;
			position: absolute;
			bottom: 100%;
			content: "";
		}

		// Style triangle
		&::after {
			right: rem(18px);
			border: rem(8px) solid transparent;
			border-bottom-color: #fff;
		}

		// Espace transparent en haut
		&::before {
			right: 0;
			left: 0;
			height: rem(20px);
		}
	}

	/**
    SUB-MENUS : Hover states
  **/
	.menu-item-has-children:hover .sub-menu,
	.menu-item-has-children:focus .sub-menu,
	.menu-item-has-children.focus .sub-menu {
		right: 0;
		opacity: 1;
		transform: translateY(0);
		transition: opacity 0.15s linear, transform 0.15s linear;
	}

	/**
    SUB-MENUS : Styling interne
  **/
	.sub-menu {
		a {
			display: block;
			width: 100%;
			padding: rem(10px) 0 rem(10px) rem(20px);
			font-size: rem(16px);
			font-weight: $font-weight-normal;
			transition: color $speed $easing, background $speed $easing;

			&:hover {
				color: $color-primary;
			}
		}

		li {
			&:hover,
			&.current-menu-item {
				background: #f7f7fc;

				a {
					color: $color-primary;
				}
			}
		}
	}

	/**
    SUB-SUB-MENUS : Structure (reset de la position du premier sub-menu)
  **/
	.sub-menu .sub-menu {
		position: static;
		padding: 0 0 rem(10px) 0;
		box-shadow: none;
		background: transparent;

		&::before,
		&::after {
			display: none;
		}

		a {
			padding: rem(10px) 0 rem(10px) rem(30px);
			&:hover {
				color: $color-primary;
			}
		}
	}
}
