/* ==skip links                  */

/* see https://www.alsacreations.com/article/lire/572-Les-liens-d-evitement.html */

/* styling skip links */
.skip-links {
	position: absolute;
	list-style-type: none;

	& a {
		clip: rect(1px, 1px, 1px, 1px);
		position: absolute;
		overflow: hidden;
		padding: 0.5em;
		text-decoration: none;
		color: white;
		background: black;

		&:focus {
			clip: auto;
			position: static;
			overflow: visible;
		}
	}
}
